.wrapper-background {
    width: 1366px;
    margin: auto;
    background-image: url(../Images/background-image.png);
}
.wrapper {
width: 1022px;
margin: auto;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 25px;
}
.logo { 
background-image: url(../Images/logo1.png);
display: block;
width: 53px;
height: 47px;
object-fit: cover;
float: left;
margin-right: 10px;
}
.logo-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name-text {
    text-decoration: none;
}
.first-name{
    color: white;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
}
.second-name {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.logo-main:hover  .logo{
    background-image: url(../Images/logo2.png);
    transition-duration: 1s;
}
.logo-main:hover  .first-name {
    color: #F26522;
    transition-duration: 1s;
}
.logo-main:hover  .second-name {
    color: #F26522;
    transition-duration: 1s;
}
.contacts {
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     align-items: flex-end;
}
.contact {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
}
.contact:hover {
     color: #F26522;
     transition-duration: 1s;
}
.gallery {
    display: grid;
    width: 1022px;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,260px);
    column-gap: 65px;
    row-gap: 37px;
    grid-area: 
    "item-1" "item-2" "item-3"
    "item-4" "item-5" "item-6";
    text-align: center;
    padding-bottom: 49px;
}
.item-1 {
    position: relative;
}
.item-1-link {
text-decoration: none;
}
.image1 {
    padding-bottom: 15px;
}
.item-1-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-1:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-1:hover .item-1-text {
    color: #F26522;
    transition-duration: 1s;
}
.item-2 {
    position: relative;
}
.item-2-link {
text-decoration: none;
}
.image2 {
    padding-bottom: 10px;
}
.item-2-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-2:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-2:hover .item-2-text {
    color: #F26522;
    transition-duration: 1s;
}
.item-3 {
    position: relative;
}
.item-3-link {
text-decoration: none;
}
.image3 {
    padding-bottom: 15px;
}
.item-3-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-3:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-3:hover .item-3-text {
    color: #F26522;
    transition-duration: 1s;
}
.item-4 {
    position: relative;
}
.item-4-link {
text-decoration: none;
}
.image4 {
    padding-bottom: 15px;
}
.item-4-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-4:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-4:hover .item-4-text {
    color: #F26522;
    transition-duration: 1s;
}
.item-5 {
    position: relative;
}
.item-5-link {
text-decoration: none;
}
.image5 {
    padding-bottom: 15px;
}
.item-5-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-5:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-5:hover .item-5-text {
    color: #F26522;
    transition-duration: 1s;
}
.item-6 {
    position: relative;
}
.item-6-link {
text-decoration: none;
}
.image6 {
    padding-bottom: 15px;
}
.item-6-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.item-6:hover .plate{
    opacity: 1;
    transition-duration: 1s;
}
.item-6:hover .item-6-text {
    color: #F26522;
    transition-duration: 1s;
}
.plate {
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    left: 2px;
    top: 165px;
    opacity: 0;
}
.from {
    color: white;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    padding: 9px 7px 17px 16px;
}
.price {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 16px;
}
.details {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 25px 37px 12px;
}
.details::after {
    content:""; 
    width: 10px;
    height: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    top: 27px;
    right: 15px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    } 
.footer {
    width: 1022px;
    margin: auto;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.footer-text {
     font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
